@mixin static(){
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow-x: hidden;
}
@mixin absolute(){
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    width:  $ova-width;
    height: $ova-height;
}
@mixin reset(){
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
}
@mixin position( $x, $y, $width, $height){
    top: $y;
    left: $x;
    width: $width;
    height: $height;
}
@mixin backgroud_image_no_movil($image,$color){
    background-image: url($image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: $large-screen) {
        background-image: none;
        background-color: $color;
    }
}
