@charset "UTF-8";
@font-face {
  font-family: 'Century Gothic';
  src: url('./fonts/Century_Gothic_Bold-webfont.eot');
  src: url('./fonts/Century_Gothic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Century_Gothic_Bold-webfont.woff2') format('woff2'),
       url('./fonts/Century_Gothic_Bold-webfont.woff') format('woff'),
       url('./fonts/Century_Gothic_Bold-webfont.ttf') format('truetype'),
       url('./fonts/Century_Gothic_Bold-webfont.svg#century_gothicbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Century Gothic Regular';
    src: url('./fonts/Century_Gothic_Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Century Gothic Regular', sans-serif;
}
