.title{
  font-family: 'Century Gothic regular';
  width: 280px;
  font-size: 2.2rem;
  margin-top: 20px;
  color: #4b4b4b;
  b{
    font-weight: bold;
  }
 
}
#stage1{
  @include backgroud_image_no_movil('./images/Fondo_Pantalla-01.jpg', #01a89e);
  &__main_start{
      @include position( 50px, 200px, 400px, 300px); 
  }
}
#slider1{
  @include backgroud_image_no_movil('./images/Fondo_Pantalla-02.jpg', #e5e5e5);
}
#slider1{
  width: 100%;
  height: 100%;
  &__box{
    @include position( 100px, 0, 450px, $ova-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      margin-top: 20px;
      font-family: 'Century Gothic regular';
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}
#slider2{
  @include backgroud_image_no_movil('./images/Fondo_Pantalla-03.jpg', #e5e5e5);
}
#slider3{
  @include backgroud_image_no_movil('./images/Fondo_Pantalla-04.jpg', #e5e5e5);
}
#slider4{
  @include backgroud_image_no_movil('./images/Fondo_Pantalla-05.jpg', #e5e5e5);
}
#slider5{
  @include backgroud_image_no_movil('./images/Fondo_Pantalla-06.jpg', #e5e5e5);
}
#slider6{
  @include backgroud_image_no_movil('./images/Fondo_Pantalla-07.jpg', #e5e5e5);
}
#slider7{
  @include backgroud_image_no_movil('./images/Fondo_Pantalla-08.png', #e5e5e5);
}

.slides{
  width: 100%;
  height: 100%;
  .title{
    margin-top: 5px;;
  }
  .description{
    margin-top: 10px;
  }
  .slider__box{
    display: flex;
    width: 62%;
    gap: 20px;
    box-sizing: border-box;
    margin: 0 40px 0 40px ;
    height: $ova-height;
    justify-content: center;
    align-items: center;
    &  *{
      position: static;
    }
    ul {
      li{
        font-family: 'Century Gothic regular';
        font-size: 1rem;
        line-height: 1.2rem;
        display: flex;
        /* Basic keywords */
        align-items: normal;


        gap: 5px;
        margin-top: 20px;
        b{
          font-weight: bold;
          font-size: 3rem;
          margin-top: 10px;
          font-family: 'Century Gothic';
          color: #01a89e;
        }
        p{
          padding: 0;
          margin-top:0;
        }
      }
      
    }
  } 
}
@media screen and (max-width: $large-screen) {
  .slider__box{
    display: flex;
    flex-direction: column;
    justify-content: start !important;
    align-items: start !important;
  }
}
.controls{
  @include position( 300px, 580px, 300px, 100px);
  cursor: pointer;
  display: flex;
  

}
.controls img{
  position: static;
  height: 40px;
  max-width: 100%;
}